#root {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
}

body {
  overscroll-behavior: none;
}

.eFP-svg {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.ChromosomeZoomBtn {
  border: none;
  background-color: transparent;
}
